
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.key {
    background-color: white;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.key h1 {
    margin-bottom: 5px;
    color: #222;
}


#intro {
    color: #666;
    font-style: italic;
    margin-bottom: 20px;
}


.key h2 {
    margin-top: 20px;
    color: #333;
}


.key p {
    color: #555;
    line-height: 1.6;
    font-size: 14px;
}


.key a {
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 8px 15px;
    border-radius: 6px;
    transition: 0.3s;
}


.key a:hover {
    background-color: #d8ead9;
}


.key img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}